target/
*.class
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
hs_err_pid*
replay_pid*

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath

.DS_Store
*.log
*.swp
*.bak

docker-compose.override.yml
